.inicio {
    background-color: aqua;
    width: 400;
}

body {
    background-color: rgb(112, 110, 110);
}


header {
 text-align: center;
 background-color: white;
}

.copy {
    background-color: white;
    text-align: center;
    font-size:large;
}

.logo {
    text-align: center;
}

.celc {
    padding: 20px;
    width: 400px;
    height: auto;
}
main{
    text-align: center;
    background-color: white;
}
main h1 {
    font-size: 110px;
    margin-bottom: 10px;
    font-size:large;
    color: rgb(31, 166, 78);
}

Nav a {
    color: rgb(18, 18, 20);
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin: 15px;
}

.type {
    height: 20px
}
ul li {
    color: black;
}